.env
playground.ipynb
sbatch

# pytorch-transformer
pytorch-transformer/__pycache__
pytorch-transformer/runs
pytorch-transformer/tokenizer_en.json
pytorch-transformer/tokenizer_it.json
pytorch-transformer/opus_books_weights
pytorch-transformer/requirements.txt